In [5]:
# import libraries
import pandas as pd
import numpy as np
import seaborn as sns

## load dataset

In [6]:
df=sns.load_dataset("iris")

In [7]:
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [8]:
# check missing value
df.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

## separete dependant(y) and independant(x) variable

In [9]:
x=df.iloc[:,0:4]

In [10]:
y=df.iloc[:,4]

## split the data

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)

## fitting the model

In [37]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [38]:
estimator = []
estimator.append(('Knn', KNeighborsClassifier(7)))
estimator.append(('SVC', SVC(gamma ='auto', probability = True)))
estimator.append(('DTC', DecisionTreeClassifier()))

## fitting Votting classifier

In [40]:
from sklearn.ensemble import VotingClassifier
Hard = VotingClassifier(estimators = estimator, voting ='hard')
Hard.fit(x_train, y_train)
y_pred = Hard.predict(x_test)

## check accuracy score

In [41]:
score = accuracy_score(y_test, y_pred)
print(score)

0.9555555555555556