* Rahil Sayyad
* rahilsayyad389@gmail.com

In [1]:
# import libraries
import numpy as np
import pandas as pd
import seaborn as sns

## load dataset

In [2]:
df= sns.load_dataset("tips")

In [3]:
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

## usin LabelEncoding convert string values to int

In [4]:
l=["sex","smoker","day","time"]
for i in l:
    from sklearn.preprocessing import LabelEncoder
    le=LabelEncoder()
    le.fit(df[i])
    df[i]=le.transform(df[i])
df

     total_bill   tip  sex  smoker  day  time  size
0         16.99  1.01    0       0    2     0     2
1         10.34  1.66    1       0    2     0     3
2         21.01  3.50    1       0    2     0     3
3         23.68  3.31    1       0    2     0     2
4         24.59  3.61    0       0    2     0     4
..          ...   ...  ...     ...  ...   ...   ...
239       29.03  5.92    1       0    1     0     3
240       27.18  2.00    0       1    1     0     2
241       22.67  2.00    1       1    1     0     2
242       17.82  1.75    1       0    1     0     2
243       18.78  3.00    0       0    3     0     2

[244 rows x 7 columns]

## separate dependant and independant variable

In [5]:
x=df.loc[:,["total_bill","sex","smoker","day","time","size"]]

In [6]:
y=df.loc[:,'tip']

## split the data training and testing side

In [7]:
from sklearn.model_selection import train_test_split 
X_train, x_test, y_train, y_test = train_test_split(x, y,test_size = 0.3, random_state=2)

## Fitting the model

In [8]:
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import VotingRegressor
from sklearn.neighbors import KNeighborsRegressor

In [9]:
r1 = LinearRegression()
r2 = RandomForestRegressor(n_estimators=10, random_state=1)
r3 = KNeighborsRegressor(7)

In [10]:
VT=VotingRegressor([('r1', r1), ('r2', r2), ('r3', r3)])

In [11]:
 print(VT.fit(X_train, y_train))

VotingRegressor(estimators=[('r1', LinearRegression()),
                            ('r2',
                             RandomForestRegressor(n_estimators=10,
                                                   random_state=1)),
                            ('r3', KNeighborsRegressor(n_neighbors=7))])

## predict the output using train data

In [12]:
y_pred=VT.predict(x_test)

## root_mean_squared_error

In [13]:
from sklearn.metrics import mean_squared_error
mse=mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
rmse

0.8919734843982169

In [14]:
from sklearn.metrics import r2_score
r2_score(y_test,y_pred)

0.5809045733783649