* Rahil Sayyad
* rahilsayyad389@gmail.com

In [15]:
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import AdaBoostRegressor

In [16]:
df= sns.load_dataset("tips")

In [17]:
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [18]:
df.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [19]:
l=["sex","smoker","day","time"]
for i in l:
    from sklearn.preprocessing import LabelEncoder
    le=LabelEncoder()
    le.fit(df[i])
    df[i]=le.transform(df[i])
df

     total_bill   tip  sex  smoker  day  time  size
0         16.99  1.01    0       0    2     0     2
1         10.34  1.66    1       0    2     0     3
2         21.01  3.50    1       0    2     0     3
3         23.68  3.31    1       0    2     0     2
4         24.59  3.61    0       0    2     0     4
..          ...   ...  ...     ...  ...   ...   ...
239       29.03  5.92    1       0    1     0     3
240       27.18  2.00    0       1    1     0     2
241       22.67  2.00    1       1    1     0     2
242       17.82  1.75    1       0    1     0     2
243       18.78  3.00    0       0    3     0     2

[244 rows x 7 columns]

In [20]:
x=df.loc[:,["total_bill","sex","smoker","day","time","size"]]

In [7]:
y=df.loc[:,'tip']

In [8]:
from sklearn.model_selection import train_test_split 
X_train, x_test, y_train, y_test = train_test_split(x, y,test_size = 0.3, random_state=2)

In [21]:
RF = AdaBoostRegressor(n_estimators=70)

In [22]:
RF.fit(X_train,y_train)

AdaBoostRegressor(n_estimators=70)

In [23]:
y_pred=RF.predict(x_test)

In [27]:
from sklearn.metrics import mean_squared_error
rmse_val = [] #to store rmse values for different k
for K in range(0,30,2):
    K = K+1
    knn = AdaBoostRegressor(n_estimators=K)
    knn.fit(X_train, y_train)  #fit the model
    y_pred=knn.predict(x_test) #make prediction on test set
    error =np.sqrt(mean_squared_error(y_test,y_pred)) #calculate rmse
    rmse_val.append(error) #store rmse values
    print('RMSE value for k= ' , K , 'is:', error)

RMSE value for k=  1 is: 0.8920028784045912
RMSE value for k=  3 is: 1.1002153422605336
RMSE value for k=  5 is: 0.9202787061297262
RMSE value for k=  7 is: 0.8333815377403615
RMSE value for k=  9 is: 1.0231445782100888
RMSE value for k=  11 is: 0.8881510171935121
RMSE value for k=  13 is: 0.9750341737199567
RMSE value for k=  15 is: 0.9816187193109083
RMSE value for k=  17 is: 0.873345494563627
RMSE value for k=  19 is: 0.8841638461953906
RMSE value for k=  21 is: 0.9664878028686255
RMSE value for k=  23 is: 0.9563194115318875
RMSE value for k=  25 is: 1.0021548070991313
RMSE value for k=  27 is: 0.9397757539199015
RMSE value for k=  29 is: 0.9288108489217494